{% extends "base.html" %}

{% load skin %}

{% block content %}
    <div class="row">
	<div class="col-md-2">
	    <ul class="nav nav-pills nav-stacked">
		{% url 'ditto:editconfig' 'basicinfo' as url %}
		{% navitem "basicinfo" url _("Basic Information") %}

		{% url 'ditto:settings' as url %}
		{% navitem "roles" url _("Roles") %}

		{% url 'ditto:editconfig' 'permissions' as url %}
		{% navitem "permissions" url _("Permissions") %}

		{% url 'ditto:editconfig' 'features' as url %}
		{% navitem "features" url _("Features") %}
		
		{% url 'ditto:evaluation' as url %}
		{% navitem "evaluation" url _("Evaluation") %}
	    </ul>
	</div>
	<div class="col-md-10">
	    <h1>{% block heading %}{% endblock %}</h1>
	    {% block config-content %}{% endblock %}
	</div>
    </div>
{% endblock %}
