{% extends "skin/accordion_panel.html" %}

{% load ditto %}

{% block title %}{{ role.name }}{% endblock %}

{% block body %}
    {% for feature in features %}

        <div class="row">
            <div class="col-md-3"></div>
            {% for perm in feature.permissions.all %}
                <div class="col-md-3">{{ perm.name }}</div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-md-3">{{ feature.name }}</div>
            {% for perm in feature.permissions.all %}
            <div class="col-md-3">
                {% with field=role.name|add:"-"|add:feature.name|add:"-"|add:perm.name %}
                    {{ form|lookup:field }}
                {% endwith %}
            </div>
            {% endfor %}
        </div>

    {% endfor %}
{% endblock %}
