{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
            {% for other, desc in cases.items %}
            <li role="presentation"{% if case == other %} class="active"{% endif %}><a href="{% url 'usecase' other %}">{{ desc.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-8">
        <img width="842px" height="595px" alt="{{ meta.alt }}" src="{% static 'images/usecases/'|add:meta.img|add:'.png' %}">
    </div>
</div>
{% endblock %}
