{% extends "base.html" %}

{% load staticfiles %}

{% block css %}
{{ block.super }}
<style>
    html, body, .logo {height:100%}
    nav {
    position:absolute;
    }
    body {
    display:table;
    width:100%;
    }
    .logo {
    display: table-cell;
    vertical-align:middle;
    }
</style>
{% endblock %}

{% block main %}
<div class="logo">
    <div style="text-align:center">
        <a href="{% url 'account_signup' %}"><img alt="Sign up" src="{% static 'images/ditto-logo.png' %}"></a>
    </div>
</div>
{% endblock %}
