{% extends "base.html" %}
{% load avatar_tags %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<audio src="{% static 'audio/newmessage.wav' %}" ></audio>
<div class="row">
    <div class="col-md-9">
        <div class="profile-chat">
            <h1>{{ object.username }} is {% include "chat/_chat_partner_status.html" %}</h1>
            <div id="pchat_msgs"></div>
            {% include "chat/_chat_send_message.html" %}
        </div>
        <div class="row">
            <div class="col-md-4 avatar-profile">
                <div data-avatar="sunshine" data-name="{{ object.username }}" data-size="200"></div><!-- TODO sort out avatars.html so we can render without js too -->
                <p><strong>Member since: </strong> {{ object.date_joined }}</p>
            </div>
            <div class="col-md-8">
                <h1>{{ object.username }}</h1>
                <h2>{{ object.groups.all.0.name }}</h2>
                {% with accordion_id='user_content' %}
                <div class="panel-group" id=accordion_id role="tablist" aria-multiselectable="true">
                    {% include "users/_bio.html" with index=0 %}
                    {% include "users/_blog.html" with index=1 %}
                </div>
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="col-md-3 main-sidebar">
        {% with accordion_id='user_meta' %}
        <div class="panel-group" id=accordion_id role="tablist" aria-multiselectable="true">
            {% include "users/_chats.html" with index=0 %}
            {% include "ditto/module/chatroom.html" with index=1 %}
            {% include "users/_activity.html" with index=2 %}
        </div>
        {% endwith %}
    </div>
</div>
{% endblock content %}

{% block strophe-plugins %}
    {{ block.super }}
    <script src="{% static 'vendor/strophe.rsm.js' %}"></script>
    <script src="{% static 'vendor/strophe.mam.v0.2.js' %}"></script>
    <script src="{% static 'vendor/strophe.chatstates.js' %}"></script>
    <script src="{% static 'vendor/strophe.roster.js' %}"></script>
{% endblock %}

{% block config %}
    {{ block.super }}
    DITTO.chatee = '{{ object.username }}@' + DITTO.chat_host;
{% endblock %}

{% block plugins %}
    {{ block.super }}    
    <script src="{% static 'chat/js/composing.js' %}"></script>
    <script src="{% static 'chat/js/presence.js' %}"></script>
    <script src="{% static 'chat/js/privatechat.js' %}"></script>
    <script src="{% static 'chat/js/mam.js' %}"></script>
{% endblock %}

{% block javascript %}
    <script src="{% static 'vendor/notification.js' %}"></script>
    {{ block.super }}
    <script>
        $('.profile-chat').resizable(
        {
        alsoResize: '#pchat_msgs',
        handles: 's',
        stop: function () {
        DITTO.chat.scrollMessages($('#pchat_msgs'));
        }
        }
        );
    </script>
{% endblock %}
