{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3 avatar-profile">
	    <div class="panel panel-default">
		<div class="panel-body">
		    <div data-avatar id="profile-avatar" data-name="{{ object.username }}"></div>
		</div>
	    </div>
            {% if perms.users.assign_role %}
              <div id="change-role"></div>
            {% endif %}
            {% if is_me %}
                <div id="change-avatar"></div>
            {% else %}
		<div class="panel panel-default">
		    <div class="panel-body">
			<ul class="comms-list nav nav-pills nav-justified">
			    {% include "users/_comm_button.html" with label="CHAT" id="chat" link=chat_link %}
			    {% include "users/_comm_button.html" with label="VIDEO CHAT" id="video" %}
			    {% include "users/_comm_button.html" with label="AUDIO CHAT" id="audio" %}
			</ul>
		    </div>
		</div>
	    {% endif %}
	</div>
        <div class="col-md-6">
	    <div class="well">
		{% with role=object.groups.all.0.name %}
                    <h2>{{ object.get_full_name|default:object.username }} | <span id="profile-role"></span> <span id="my-status"></span></h2>
		{% endwith %}
                <p><em><strong>Joined: </strong> {{ object.date_joined }}</em></p>
		<div{% if is_me %} id="user-bio"{% endif %}>{{ object.bio }}</div>
	    </div>
            {% with accordion_id='user_content' %}
                <div class="panel-group" id=accordion_id role="tablist" aria-multiselectable="true">
                    {% if show_casenotes %}{% include "users/_casenotes.html" with index=0 %}{% endif %}
                </div>
            {% endwith %}
        </div>
	<div class="col-md-3 main-sidebar">
            {% with accordion_id='user_meta' footer=1 %}
		<div class="panel-group" id=accordion_id role="tablist" aria-multiselectable="true">
		    {% include "ditto/module/chatroom.html" with index=0 %}
		</div>
            {% endwith %}
	</div>
    </div>
{% endblock content %}
