{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Signup" %}{% endblock title %}

{% block content %}
<h1>{% if not request.tenant.is_main %}{{ form.role.name }} {% endif %}{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

{% if not request.tenant.is_main and form.role.name == 'Member' %}
<p>Are you registering for specific role? If so please sign up at the links below.</p>

<ul>
    {% for role in roles %}
	<li><a href="{% url 'account_signup_role' role %}">{{ role }}</a></li>
    {% endfor %}
</ul>
{% endif %}

<form class="signup" id="signup_form" method="post" action="{% if form.role %}{% url 'account_signup_role' form.role.name %}{% else %}{% url 'account_signup' %}{% endif %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>


{% endblock content %}


