{% load staticfiles i18n skin configuration %}<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title>{% block title %}{{ request.site.name }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    {% block css %}
    {% theme as theme %}
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/{{ theme|yesno:"bootswatch,bootstrap" }}/3.3.1/{{ theme|default:"css" }}/bootstrap.min.css"> -->
    
    <!-- Your stuff: Third-party css libraries go here -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet"> -->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}

  </head>

  <body>

    <nav class="header navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'ditto:home' %}">
                {{ request.site.name }}                
            </a>
        </div>
        {% include "includes/nav.html" %}
      </div>
    </nav>
    {% block main %}
    <div class="container-fluid">
        
      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->
    
    {% block modal %}{% endblock modal %}
    <footer class="footer">
        <div class="container-fluid">
            <p><img width="30px" alt="" src="{% static 'images/ditto-logo.png' %}"> Ditto: a Digital Impacts Product, © 2015.</p>
        </div>
    </footer>
    {% endblock %}
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script id="message_template" type="text/template">
        <div class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object avatar" data-src="" alt="">
                </a>
            </div>
            <div style="width:90%" class="media-body">
            </div>
            <div class="media-right media-middle">
                <a href="#">
                    <img class="media-object avatar" data-src="" alt="">
                </a>
            </div>
        </div>
    </script>

    {% block javascript %}
      <!-- Latest JQuery -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.4.1/holder.js"></script>
      
      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/project.js' %}"></script>
      
      <script src="{% static 'vendor/strophe.js' %}"></script>
      {% block strophe-plugins %}
          <script src="{% static 'vendor/strophe.muc.js' %}"></script>
      {% endblock %}
      <script>
        {% block config %}
        var DITTO = {};
        DITTO.chat_ip = '{{ debug|yesno:"localhost,134.213.147.235" }}';
        DITTO.chat_host = '{{ request.tenant.chat_host }}';
        DITTO.chat_name = '{{ user.username }}@' + DITTO.chat_host + '/Ditto';
        {% comment %}
            no password in debug is workaround for development where mongooseim thinks it
            gets an empty response from /get_password
        {% endcomment %}
        //DITTO.chat_pass = '{% if debug %}pass{% else %}{{ pass }}{% endif %}';
        // use line below when using http auth module locally
        DITTO.chat_pass = '{% if debug %}{% else %}{{ pass }}{% endif %}';
        DITTO.chat_nick = '{{ user.username }}';
        DITTO.room = '{{ room|default:"muc1" }}';
        {% endblock %}
      </script>
      {% block chat %}
        <script src="{% static 'chat/js/chat.js' %}"></script>
        {% block plugins %}
            <script src="{% static 'chat/js/muc.js' %}"></script>
        {% endblock %}
      {% endblock %}
    {% endblock javascript %}
  </body>
</html>
