{% load static chat %}<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<title>Flux • Chat</title>
	<link href="http://fonts.googleapis.com/css?family=Muli" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'flux-chat/css/chatapp.css' %}">
    </head>
    <body>
	<section id="react"></section>
	{% chat_config %}
	{# Note we can't 'require' strophe and its plugins as the npm version is not compatible with mongooseim #}
	<script src="{% static 'vendor/strophe.js' %}"></script>
	<script src="{% static 'vendor/strophe.rsm.js' %}"></script>
	<script src="{% static 'vendor/strophe.mam.v0.2.js' %}"></script>
	{# jQuery *only* used to parse XMPP packets, can we use a smaller library? #}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static 'flux-chat/js/bundle.js' %}"></script>
    </body>
</html>
