{% extends "pages/base.html" %}

{% block page %}
<h3>KVOTI</h3>

<p><strong>Kvoti is taking the multi-billion dollar global charity and social support sectors and putting them online.</strong></p>

<p>A SaaS platform, Kvoti cuts the cost of delivering charitable services and social support by 60% and measures the impact thereof; allowing organisations to scale. Helping more people, more effectively and more efficiently.</p>

<h3>OUR VISION</h3>

<p>To enable charities and social support organisations to digitise the delivery of their services.</p>

<h3>OUR MISSION</h3>

<p>To deliver a critical web application for charities and social support organisations across the world. Kvoti strives to exceed our customers’ expectations with a product that is:</p>

<ul>
    <li>Instrumental in effective and efficient delivery of charity services
    <li>Innovative, iterative and future-proofed
    <li>Safe, private and confidential
    <li>Competitively and fairly priced
    <li>Flexible, personalised and customer-led
    <li>Ethical, responsible and socially conscious
    <li>Beautiful, simple, and reliable.
</ul>
{% endblock %}
