{% extends "pages/base.html" %}

{% block page %}
<h3>DITTO</h3>

<p><strong>Ditto lets social support organisations (health, social care, housing and public services; lawyers, counsellors, charities etc.) create their own social networks (IM, video, audio) with powerful insight and reporting tools built in, to measure their financial, commercial and social impact. For a monthly subscription fee, in just ten minutes, they can be delivering social support to their clients more efficiently and more effectively.</strong></p>

<h3>OUR VISION</h3>

<p>To enable organisations to digitise the delivery of their Social Support Services.</p>

<h3>OUR MISSION</h3>

<p>To design the best web application for Social Support Services across the world. Our product, Ditto, allows public, social, and care organisations to digitise their service delivery. In doing so, Digital Impacts strives to exceed our customers expectations with a product that is:</p>

<ul>
    <li>Instrumental in effective and efficient social support</li>
    <li>Innovative, iterative and future-proofed</li>
    <li>Safe, private and confidential</li>
    <li>Competitively and fairly priced</li>
    <li>Flexible, personalised and customer-led</li>
    <li>Ethical, responsible and socially conscious</li>
    <li>Beautiful, simple, and reliable.</li>
</ul>
</div>
{% endblock %}
