{% extends "base.html" %}

{% load skin static %}

{% block content %}
    {% m "row" %}
    <div class="col-sm-3 col-md-2 sidebar">
        {% if back %}
            <p><a href="{% url 'ditto:dash' %}">{% include "skin/icon.html" with icon="chevron-left" %} DASHBOARD</a></p>
        {% endif %}
        {# TODO correct way to add a title on a nav? #}
        <p>{% block section %}DASHBOARD{% endblock %}</p>
        {% m "sidenav" %}
        {% block sidenav %}
	    {% url "ditto:tickets" as url %}
            {% navitem "tickets" url _("Tickets") %}
	    {% url "ditto:user_mgmt" as url %}
            {% navitem "usermgmt" url _("User Management") %}
	    {% url "ditto:safeguarding" as url %}
            {% navitem "safeguarding" url _("Safeguarding") %}
	    {% url "ditto:reports" as url %}
            {% navitem "reports" url _("Reports") %}
        {% endblock %}
        {% endm %}
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% block dash-content %}
        {% endblock %}
    </div>
{% endm %}
{% endblock %}
