{% extends "base.html" %}

{% block subnav %}
<ul class="nav nav-pills">
  <li role="presentation" class="{% block config_active %}{% endblock %}"><a href="{% url 'engage:config' %}">Theme</a></li>
  <li role="presentation" class="{% block features_active %}{% endblock %}"><a href="{% url 'engage:features' %}">Features</a></li>
  <li role="presentation" class="{% block roles_active %}{% endblock %}"><a href="{% url 'engage:configure' %}">Roles</a></li>
  <li role="presentation" class="{% block perms_active %}{% endblock %}"><a href="{% url 'engage:permissions' %}">Permissions</a></li>
</ul>
{% endblock %}
