{% extends "engage/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block roles_active %}active{% endblock %}

{% block content %}
<form method="POST" action="{% url 'engage:configure' %}">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans "Name" %}</legend>
        {{ form|crispy }}
    </fieldset>
    <fieldset>
        <legend>{% trans "Roles" %}</legend>
        {{ formset|crispy }}
    </fieldset>
    <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
</form>
{% endblock %}
