{% extends "engage/base.html" %}

{% load i18n floppyforms %}

{% block features_active %}active{% endblock %}

{% block content %}
<div class="row">
  <form class="form-horizontal" role="form" action="{% url 'engage:features' %}" method="post">
      {% csrf_token %}
      {{ formset.management_form }} 
      {% form formset using "floppyforms/layouts/bootstrap3-horizontal.html" %}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Save</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
