{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<div class="row">
    <div id="msgs" class="col-md-8"
         {# TODO how to set this with bootstrap so we get an auto scrolling chat window? #}         
         style="height:700px;overflow-y:scroll"
         >
    </div>
    <div id="presence" class="col-md-4">
    </div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom">
    <form id="msg" class="navbar-form navbar-left">
        <div class="form-group">
            <input style="width:600px" {# TODO how to set this width the bootstrap way? #}
                   placeholder="Type your message here..." type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Say it!</button>
    </form>
</div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'vendor/strophe.js' %}"></script>
    <script src="{% static 'vendor/strophe.muc.js' %}"></script>
    <script src="{% static 'ditto/chatroom.js' %}"></script>
    <script id="message_template" type="text/template">
        <div class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object avatar" data-src="" alt="">
                </a>
            </div>
            <div class="media-body">
            </div>
        </div>
    </script>
    <script>
        var DITTO = DITTO || {};
        DITTO.chat_name = '{{ request.user }}@ditto.com';
        DITTO.chat_pass = '{{ request.session.session_key }}';
    </script>
{% endblock %}
