<!DOCTYPE html>
<html>
  <head>
    <title>Strophe.js Basic Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src='strophejs/strophe.js'></script>
    <script src='strophejs-plugins/muc/strophe.muc.js'></script>
    <script src='chatroom.js'></script>
  </head>
  <body>
      <div style="position:fixed">
          <form id="msg">
              <input type="text"> <input type="submit">
          </form>
      </div>
      <div id="msgs" style="height:400px;overflow-y:scroll"></div>
  </body>
</html>
