{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<div class="row">
    <div id="msgs" class="col-md-8"
         {# TODO how to set this with bootstrap so we get an auto scrolling chat window? #}         
         style="height:700px;overflow-y:scroll"
         >
    </div>
    <div id="presence" class="col-md-4">
    </div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom">
    <form id="msg" class="navbar-form navbar-left">
        <div class="form-group">
            <input style="width:600px" {# TODO how to set this width the bootstrap way? #}
                   placeholder="Type your message here..." type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Say it!</button>
    </form>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header alert-danger">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Error</h4>
      </div>
      <div class="modal-body alert-danger">
          <p>Looks like you are already in the chatroom.</p>
          <p>Are you logged in in another browser, tab or device?</p>
          <p>TODO let people get in from as many places as they want!</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'vendor/strophe.js' %}"></script>
    <script src="{% static 'vendor/strophe.muc.js' %}"></script>
    <script src="{% static 'ditto/chatroom.js' %}"></script>
    <script id="message_template" type="text/template">
        <div class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object avatar" data-src="" alt="">
                </a>
            </div>
            <div class="media-body">
            </div>
        </div>
    </script>
    <script>
        var DITTO = DITTO || {};
        DITTO.chat_host = '{{ debug|yesno:"localhost,ditto.com" }}';
        DITTO.chat_name = '{{ request.user }}@' + DITTO.chat_host;
        DITTO.chat_nick = '{{ request.user }}';
        {% comment %}
        no password in debug is workaround for development where mongoose thinks it
        gets an empty response from /get_password
        {% endcomment %}
        DITTO.chat_pass = '{% if not debug %}{{ request.session.session_key }}{% endif %}';
    </script>
{% endblock %}
