{% extends "ditto/base.html" %}

{% load ditto %}

{% block page-heading %}Features{% endblock %}

{% block dash-content %}
{% m "p" %}Set individual 'features' for each role. Do you want each role to be able
to blog or comment? Create their own polls? (Users will be able to control their
privacy settings on their <u>profile page</u>.){% endm %}

    <ul class="list-group">
        {% for role in object_list %}
        <li class="list-group-item">
            {{ role.name }}
            {% for feature in features %}
            <a href="{% url 'ditto:feature-permissions' role.name|lower feature.slug %}" class="btn btn-default">{{ feature.name }}</a>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
