{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<div class="row">
    <h1 class="page-heading">Chatting with {{ chatee.username }}</h1>
    <div id="msgs" class="col-md-8"
         {# TODO how to set this with bootstrap so we get an auto scrolling chat window? #}         
         style="height:500px;overflow-y:scroll"
         >
    </div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom">
    <form id="msg" class="navbar-form navbar-left">
        <div class="form-group">
            <input style="width:600px" {# TODO how to set this width the bootstrap way? #}
                   placeholder="Type your message here..." type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Say it!</button>
    </form>
</div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'vendor/strophe.js' %}"></script>
    <script src="{% static 'vendor/strophe.rsm.js' %}"></script>
    <script src="{% static 'vendor/strophe.mam.v0.2.js' %}"></script>
    <script src="{% static 'ditto/private_chat.js' %}"></script>
    <script id="message_template" type="text/template">
        <div class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object avatar" data-src="" alt="">
                </a>
            </div>
            <div class="media-body">
            </div>
        </div>
    </script>
    <script>
        var DITTO = DITTO || {};
        DITTO.chat_host = '{{ debug|yesno:"localhost,ditto.com" }}';
        DITTO.chat_name = '{{ user.username }}@' + DITTO.chat_host;
        DITTO.chatee = '{{ chatee.username }}@' + DITTO.chat_host;
        {% comment %}
        no password in debug is workaround for development where mongooseim thinks it
        gets an empty response from /get_password
        {% endcomment %}
        DITTO.chat_pass = '{% if not debug %}{{ request.session.session_key }}{% endif %}';
    </script>
{% endblock %}
