/* line 5, ../sass/project.scss */
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

/* line 11, ../sass/project.scss */
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* line 17, ../sass/project.scss */
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* line 23, ../sass/project.scss */
.alert-warning {
  color: black;
  background-color: orange;
  border-color: #d6e9c6;
}

/* line 29, ../sass/project.scss */
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.navbar, .page-header {
    text-transform: uppercase;
}

/* stlyes below taken from bootstap's example dashboard.css */
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 100px tall */
body {
    padding-top: 110px;
    padding-bottom: 45px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 155px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #210040;
    color: #fff;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
    margin-top: 30px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
/* end of dashboard.css
-------------------------------------------------- */


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 45px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 45px;
    padding-top: 5px;
    /* background-color: #f5f5f5; */
}
/* 
-------------------------------------------------- */

/* Mark's stuff to be fixed one day! */
#msgs, #pchat_msgs, #presence, .friend-messages, .message-list {
    overflow-y: scroll;
}
#msgs .row, #chat-module .row {
    margin-left: 0;
    margin-right: 0;
}
.col-md-8>#msgs {
    margin-left: -15px;
    margin-right: -15px;
}

.navbar-inverse big {
    color: #fff;
}

.navbar-brand {
    background-image: url(../images/kvoti-web-logo.png);
    width: 100px;
}
.navicon-messages {
    background-image: url(../images/icons/chat-lo.png);
}
.active .navicon-messages {
    background-image: url(../images/icons/chat-hi.png);
}
.navicon-settings {
    background-image: url(../images/icons/settings-lo.png);
}
.active .navicon-settings {
    background-image: url(../images/icons/settings-hi.png);
}
.navicon-dashboard {
    background-image: url(../images/icons/dashboard-50.png);
}
.navbar-brand, .navicon {
    background-repeat: no-repeat;
    background-position: center center;
    width: 70px;
}
.active .navicon, .open .navicon {
    background-color: transparent !important;
}

#chat-module .message-list {
    height: 150px;
    overflow-y: scroll;
}
.message-list {
    padding-left: 0;
}

.profile-chat #pchat_msgs {
    height: 150px;
}
.friend-messages {
    height: 400px;
}

.avatar p {
    text-align: center;
    margin: 0;
}

footer {
    margin-top: 10px;
}

#roster>div {
    cursor: pointer;
}

.comms-list {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comms {
    height: 50px;
    background-repeat: no-repeat;
}
.comms-video {
    background-image: url(../images/icons/video-50.png);
    background-position: center center;
}
.comms-chat {
    background-image: url(../images/icons/chat-50.png);
    background-position: left center;
}
.comms-audio {
    background-image: url(../images/icons/audio-50.png);
    background-position: right center;
}
.nav-justified > li > a.comms {
    text-align: left;
    padding-left: 70px;
}


.navbar [data-avatar] {
    /* TODO don't really know why these styles work, should probably be calculated in relation to other things */
    /* TODO borked on mobile of course */
    position:absolute;
    top:25px;
    left:10px;
}

/* playing with React animation support
-------------------------------------------------- */
.example-enter .avatar {
    transition: transform .5s ease-in;
}
.example-enter.example-enter-active .avatar {
    transform: rotate(360deg);
    transform-origin: 50% 50%;
}
.example-leave .avatar {
    opacity: 1;
    transition: opacity .5s ease-in;
}
.example-leave.example-leave-active .avatar {
    opacity: 0.01;
}
/*
-------------------------------------------------- */

.modules .panel-body {
    padding-top: 0;
    padding-bottom: 0;
}

#emptychat {
    display: none;
}

#formbuilder ol {
    padding-left: 0;
    list-style-type: none;
}

.whosOnlineItem {
    float: left;
    padding: 10px;
}

.whosOnlineItem p {
    margin: 0;
    text-align: center;
}

.whosOnlineItem .username, .messageAuthor b {
    font-weight: 900;
}

.chatroomPresence, .chatroomMessages {
    background-color: white;
    padding: 10px;
    border: 2px solid #CCC;
}

.avatar {
    /* TODO figure out why avatar div height is 5px more than contained svg height */
    margin: 0 0 -5px 0;
    padding: 0;
}

.messageAuthor {
    color: inherit
}

.messageTimestamp {
    color: #777;
}

.media-heading p {
    margin-bottom: 0;
}

.page h3 {
    font-size: 20px;
}
.page p, .page ul {
    font-size: 110%;
}

/* TODO copied this here for now, doesnt seem to be other way to have react-select styles */
/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/keystonejs/react-select
 */
.Select {
    position: relative;
}
.Select-control {
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 1px solid #cccccc;
    border-color: #d9d9d9 #cccccc #b3b3b3;
    border-radius: 4px;
    box-sizing: border-box;
    color: #333333;
    cursor: default;
    outline: none;
    padding: 8px 52px 8px 10px;
    transition: all 200ms ease;
}
.Select-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.is-searchable.is-open > .Select-control {
    cursor: text;
}
.is-open > .Select-control {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: white;
    border-color: #b3b3b3 #cccccc #d9d9d9;
}
.is-open > .Select-control > .Select-arrow {
    border-color: transparent transparent #999999;
    border-width: 0 5px 5px;
}
.is-searchable.is-focused:not(.is-open) > .Select-control {
    cursor: text;
}
.is-focused:not(.is-open) > .Select-control {
    border-color: #0088cc #0099e6 #0099e6;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px rgba(0, 136, 204, 0.5);
}
.Select-placeholder {
    color: #aaaaaa;
    padding: 8px 52px 8px 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: -15px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.has-value > .Select-control > .Select-placeholder {
    color: #333333;
}
.Select-input > input {
    cursor: default;
    background: none transparent;
    border: 0 none;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
}
.is-focused .Select-input > input {
    cursor: text;
}
.Select-control:not(.is-searchable) > .Select-input {
    outline: none;
}
.Select-loading {
    -webkit-animation: Select-animation-spin 400ms infinite linear;
    -o-animation: Select-animation-spin 400ms infinite linear;
    animation: Select-animation-spin 400ms infinite linear;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #cccccc;
    border-right-color: #333333;
    display: inline-block;
    position: relative;
    margin-top: -8px;
    position: absolute;
    right: 30px;
    top: 50%;
}
.has-value > .Select-control > .Select-loading {
    right: 46px;
}
.Select-clear {
    color: #999999;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 6px 10px;
    position: absolute;
    right: 17px;
    top: 0;
}
.Select-clear:hover {
    color: #c0392b;
}
.Select-clear > span {
    font-size: 1.1em;
}
.Select-arrow {
    border-color: #999999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: " ";
    display: block;
    height: 0;
    margin-top: -ceil(2.5px);
    position: absolute;
    right: 10px;
    top: 14px;
    width: 0;
}
.Select-menu-outer {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: white;
    border: 1px solid #cccccc;
    border-top-color: #e6e6e6;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
}
.Select-menu {
    max-height: 198px;
    overflow-y: auto;
}
.Select-option {
    box-sizing: border-box;
    color: #666666;
    cursor: pointer;
    display: block;
    padding: 8px 10px;
}
.Select-option:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.Select-option.is-focused {
    background-color: #f2f9fc;
    color: #333333;
}
.Select-option.is-disabled {
    color: #cccccc;
    cursor: not-allowed;
}
.Select-noresults {
    box-sizing: border-box;
    color: #999999;
    cursor: default;
    display: block;
    padding: 8px 10px;
}
.Select.is-multi .Select-control {
    padding: 2px 52px 2px 3px;
}
.Select.is-multi .Select-input {
    vertical-align: middle;
    border: 1px solid transparent;
    margin: 2px;
    padding: 3px 0;
}
.Select-item {
    background-color: #f2f9fc;
    border-radius: 2px;
    border: 1px solid #c9e6f2;
    color: #0088cc;
    display: inline-block;
    font-size: 1em;
    margin: 2px;
}
.Select-item-icon,
.Select-item-label {
    display: inline-block;
    vertical-align: middle;
}
.Select-item-label {
    cursor: default;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    padding: 3px 5px;
}
.Select-item-label .Select-item-label__a {
    color: #0088cc;
    cursor: pointer;
}
.Select-item-icon {
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 1px solid #c9e6f2;
    padding: 2px 5px 4px;
}
.Select-item-icon:hover,
.Select-item-icon:focus {
    background-color: #ddeff7;
    color: #0077b3;
}
.Select-item-icon:active {
    background-color: #c9e6f2;
}
@keyframes Select-animation-spin {
    to {
	transform: rotate(1turn);
    }
}
@-webkit-keyframes Select-animation-spin {
    to {
	-webkit-transform: rotate(1turn);
    }
}
/*************/

/* Product overview carousel */
#overview-carousel {
    width: 959px;
    margin: auto;
}
#overview-carousel .carousel-indicators li {
    border: 1px solid #0f001c;
}
#overview-carousel .carousel-indicators .active {
    background-color: #0f001c;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
#overview-carousel a.carousel-control {
    color: #0f001c;
}
/***********/

#profile-avatar {
    height: 155px;
}
.profile-role {
    font-weight: 200;
}
.profile-tickets {
    background-image: url(../images/icons/ticket.png);
    background-position: right center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 50px;
    height: 50px;
    float: right;
    margin-bottom: 10px;
}

.toolbar {
    position: fixed;
    top: 100px;
    z-index: 1000;
    display: block;
    width: 100%;
    background-color: #ddd;
    border-bottom: 1px solid #bbb;
}
.toolbar form {
    margin-top: 10px;
    margin-bottom: 10px;
}
.dashboard-panel-title {
    background-position: right center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 10px 0 20px 0;
}
.dashboard-tasks {
    background-image: url(../images/icons/ticket.png);
}
.dashboard-users {
    background-image: url(../images/icons/user.png);
}
.dashboard-safeguarding {
    background-image: url(../images/icons/safeguarding.png);
}
.dashboard-reports {
    background-image: url(../images/icons/reports.png);
}
.dashboard-list-group .list-group-item {
    margin-top: 4px;
}
.dashboard-count {
    font-size: 150%;
    vertical-align: middle;
    padding-right: 10px;
}
#dashboard-search {
    border-radius: 20px;
    /* TODO need to set this here as react-datagrid's index.css overrides some bootstrap stuff, figure out how to include both */
    box-sizing: border-box;
}
.dashboard-dates {

}
.dashboard-dates span {
    color: #999;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/icons/calendar.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 10px 0 10px 30px;
    margin-top: 5px;
}
.dashboard-search-submit {
    display: inline-block;
    vertical-align: middle;
}
.ticket-heading {
    background-image: url(../images/icons/ticket.png);
    background-repeat: no-repeat;
    background-position: right center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}

.form-horizontal .form-inline .form-group {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
}

/* http://khan.github.io/react-components/#sortable */
/* li.sortable-disabled label span { */
/*     background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==); */
/*     background-position: left center; */
/*     background-repeat: no-repeat; */
/*     border: 1px solid #ddd; */
/*     background-color: #fafafa; */
/*     display: inline-block; */
/*     padding-left: 10px; */
/*     height: 100%; */
/*     cursor: -webkit-grab; */
/*     cursor: grab; */
/* } */

/* /\* TODO not working, think component maybe overrides? *\/ */
/* li.sortable-dragging label span { */
/*     cursor: grabbing; */
/*     cursor: -webkit-grabbing; */
/* } */
/* li.sortable-dragging div { */
/*     display: none; */
/* } */

/* TODO move these styles inline */
.scoregroup-labels li.sortable-dragging, .scoregroup-labels li.sortable-enabled,
.scoregroup-labels {
    display: inline-block;
}    
.scoregroup-labels li.sortable-enabled,
.scoregroup-labels li.sortable-dragging,
li.sortable-enabled .well,
li.sortable-dragging .well
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==);
    background-position: left center;
    background-repeat: repeat-y;
    cursor: -webkit-grab;
    cursor: grab;
}
/* ********************* */
