/* line 5, ../sass/project.scss */
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

/* line 11, ../sass/project.scss */
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* line 17, ../sass/project.scss */
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* line 23, ../sass/project.scss */
.alert-warning {
  color: black;
  background-color: orange;
  border-color: #d6e9c6;
}

/* line 29, ../sass/project.scss */
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.navbar, .page-header {
    text-transform: uppercase;
}

/* stlyes below taken from bootstap's example dashboard.css */
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 100px tall */
body {
  padding-top: 110px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 101px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
/* end of dashboard.css
-------------------------------------------------- */


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 45px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 45px;
    padding-top: 5px;
    /* background-color: #f5f5f5; */
}
/* 
-------------------------------------------------- */

/* Mark's stuff to be fixed one day! */
#msgs, #pchat_msgs, #presence, .friend-messages, .message-list, .thread-section  {
    overflow-y: scroll;
}
#msgs .row, #chat-module .row {
    margin-left: 0;
    margin-right: 0;
}
.col-md-8>#msgs {
    margin-left: -15px;
    margin-right: -15px;
}

.navbar-inverse big {
    color: #fff;
}

.navbar-brand {
    background-image: url(../images/ditto-logo.png);
    width: 100px;
}
.navicon-messages {
    background-image: url(../images/icons/chat-lo.png);
}
.active .navicon-messages {
    background-image: url(../images/icons/chat-hi.png);
}
.navicon-settings {
    background-image: url(../images/icons/settings-lo.png);
}
.active .navicon-settings {
    background-image: url(../images/icons/settings-hi.png);
}
.navicon-dashboard {
    background-image: url(../images/icons/dashboard-50.png);
}
.navbar-brand, .navicon {
    background-repeat: no-repeat;
    background-position: center center;
    width: 70px;
}
.active .navicon, .open .navicon {
    background-color: transparent !important;
}

#chat-module .message-list {
    height: 150px;
    overflow-y: scroll;
}

.profile-chat #pchat_msgs {
    height: 150px;
}
.friend-messages {
    height: 400px;
}

.avatar p {
    text-align: center;
    margin: 0;
}

footer {
    margin-top: 10px;
}

#roster>div {
    cursor: pointer;
}

.comms-list {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comms {
    height: 50px;
    background-repeat: no-repeat;
    background-position: left center;
}
.comms-video {
    background-image: url(../images/icons/video-50.png);
}
.comms-chat {
    background-image: url(../images/icons/chat-50.png);
}
.comms-audio {
    background-image: url(../images/icons/audio-50.png);
}
.nav-justified > li > a.comms {
    text-align: left;
    padding-left: 70px;
}


.navbar [data-avatar] {
    /* TODO don't really know why these styles work, should probably be calculated in relation to other things */
    /* TODO borked on mobile of course */
    position:absolute;
    top:25px;
    left:10px;
}

/* playing with React animation support
-------------------------------------------------- */
.example-enter .avatar {
    transition: transform .5s ease-in;
}
.example-enter.example-enter-active .avatar {
    transform: rotate(360deg);
    transform-origin: 50% 50%;
}
.example-leave .avatar {
    opacity: 1;
    transition: opacity .5s ease-in;
}
.example-leave.example-leave-active .avatar {
    opacity: 0.01;
}
/*
-------------------------------------------------- */

.modules .panel-body {
    padding-top: 0;
    padding-bottom: 0;
}

#emptychat {
    display: none;
}

#formbuilder ol {
    padding-left: 0;
    list-style-type: none;
}

.whosOnlineItem {
    float: left;
}

.whosOnlineItem p {
    margin: 0;
    text-align: center;
}

.whosOnlineItem .username {
    font-weight: 900;
}
