/* line 5, ../sass/project.scss */
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

/* line 11, ../sass/project.scss */
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* line 17, ../sass/project.scss */
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* line 23, ../sass/project.scss */
.alert-warning {
  color: black;
  background-color: orange;
  border-color: #d6e9c6;
}

/* line 29, ../sass/project.scss */
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.navbar, .page-header {
    text-transform: uppercase;
}

/* stlyes below taken from bootstap's example dashboard.css */
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 100px tall */
body {
  padding-top: 100px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 101px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
/* end of dashboard.css */

/* Mark's stuff to be fixed one day! */
#msgs, #pchat_msgs, #presence, .friend-messages  {
    overflow-y: scroll;
}

.navbar-inverse big {
    color: #fff;
}

.navbar-brand {
    background-image: url(../images/ditto-logo.png);
    width: 100px;
}
.navicon-messages {
    background-image: url(../images/icons/chat-lo.png);
}
.active .navicon-messages {
    background-image: url(../images/icons/chat-hi.png);
}
.navicon-profile {
    background-image: url(../images/icons/monkey-lo.png);
}
.active .navicon-profile {
    background-image: url(../images/icons/monkey-hi.png);
}
.navicon-settings {
    background-image: url(../images/icons/settings-lo.png);
}
.active .navicon-settings {
    background-image: url(../images/icons/settings-hi.png);
}
.navbar-brand, .navicon {
    background-repeat: no-repeat;
    background-position: center center;
    width: 70px;
}
.active .navicon, .open .navicon {
    background-color: #210040 !important;
}

.panel-body #msgs {
    height: 150px;
}
.profile-chat #pchat_msgs {
    height: 150px;
}
.friend-messages {
    height: 400px;
}

.avatar p {
    text-align: center;
    margin: 0;
}
.whosonline .avatar {
    padding: 10px;
    float: left;
}
.avatar-profile .avatar {
    width: 100%;
}

.main-sidebar {
    margin-top: 20px;
}

footer {
    margin-top: 10px;
}

#roster>div {
    cursor: pointer;
}
