{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<div class="row">
    {% block messages %}
    <div id="msgs" class="col-md-8">
    </div>
    {% endblock %}
</div>
<div class="row msgbar">
    <form id="msg" class="">
        <div class="col-md-4">
            <input placeholder="Type your message here..." type="text" class="form-control">
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-success">Say it!</button>
        </div>
        <div class="col-md-2">
            <div class="dropdown dropup">
                <button class="btn btn-default dropdown-toggle" type="button" id="set-status" data-toggle="dropdown" aria-expanded="true">
                    <span>Online</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="set-status">
                    <li role="presentation"><a role="menuitem" tabindex="-1" data-value="" href="#">Online</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" data-value="away" href="#">Away</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" data-value="chat" href="#">Free for chat</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" data-value="dnd" href="#">Do not disturb</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" data-value="xa" href="#">Away for a while</a></li>
                    <li role="presentation" class="dropdown-header">Custom status</li>
                    <li role="presentation"><a class="custom" role="menuitem" tabindex="-1"><input class="form-control" type="text"></a></li>
                </ul>
            </div>
        </div>
    </form>
</div>

<script id="message_template" type="text/template">
    <div class="media">
        <div class="media-left media-middle">
            <a href="#">
                <img class="media-object avatar" data-src="" alt="">
            </a>
        </div>
        <div style="width:90%" class="media-body">
        </div>
        <div class="media-right media-middle">
            <a href="#">
                <img class="media-object avatar" data-src="" alt="">
            </a>
        </div>
    </div>
</script>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'vendor/strophe.js' %}"></script>
    {% block strophe-plugins %}{% endblock %}
    <script>
        {% block config %}
        var DITTO = {};
        DITTO.chat_ip = '{{ debug|yesno:"localhost,134.213.147.235" }}';
        DITTO.chat_host = '{{ request.tenant.chat_host }}';
        DITTO.chat_name = '{{ user.username }}@' + DITTO.chat_host + '/Ditto';
        {% comment %}
        no password in debug is workaround for development where mongooseim thinks it
        gets an empty response from /get_password
        {% endcomment %}
        //DITTO.chat_pass = '{% if debug %}pass{% else %}{{ pass }}{% endif %}';
        // use line below when using http auth module locally
        DITTO.chat_pass = '{% if debug %}{% else %}{{ pass }}{% endif %}';
        {% endblock %}
    </script>
    {% block chat %}
        <script src="{% static 'chat/js/chat.js' %}"></script>
        {% block plugins %}{% endblock %}
    {% endblock %}
{% endblock %}
