{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div id="roster">
        </div>
    </div>
    <div class="col-md-8">
        <h1 class="page-heading">Chatting with {{ chatee.username }}: {% include "chat/_chat_partner_status.html" %}</h1>
        <div id="msgs"></div>
        {% include "chat/_chat_send_message.html" %}
    </div>
</div>
{% endblock %}

{% block strophe-plugins %}
    <script src="{% static 'vendor/strophe.rsm.js' %}"></script>
    <script src="{% static 'vendor/strophe.mam.v0.2.js' %}"></script>
    <script src="{% static 'vendor/strophe.chatstates.js' %}"></script>
    <script src="{% static 'vendor/strophe.roster.js' %}"></script>
{% endblock %}

{% block config %}
    {{ block.super }}
    DITTO.chatee = '{{ chatee.username }}@' + DITTO.chat_host;
    //DITTO.chatee = 'linux@' + DITTO.chat_host;
{% endblock %}

{% block plugins %}
    <script src="{% static 'chat/js/composing.js' %}"></script>
    <script src="{% static 'chat/js/presence.js' %}"></script>
    <script src="{% static 'chat/js/privatechat.js' %}"></script>
    <script src="{% static 'chat/js/mam.js' %}"></script>
{% endblock %}

{% block javascript %}
    <script src="{% static 'vendor/notification.js' %}"></script>
    {{ block.super }}
{% endblock %}
