{% extends "base.html" %}

{% load skin %}

{% block content %}
<h1 class="page-heading">Messages</h1>
{% m "medialist" %}
    {% for chatee in chatees %}
        {% if chatee != user %}
            {% m "medialistitem" %}
                {% url 'ditto:private_chat' chatee.username as url %}
                {% include "skin/media.html" with heading=chatee.username alt=chatee.username body="Latest message ..." link=url %}
            {% endm %}
        {% endif %}
    {% endfor %}
{% endm %}
{% endblock %}
