{% extends "base.html" %}

{% load static %}

{% block content %}
<audio id="new-message-beep" src="{% static 'audio/newmessage.wav' %}" ></audio>
<div id="chat"></div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.16/require.min.js"></script>
<script src="{% static 'vendor/notification.js' %}"></script>
<script src="{% static 'vendor/strophe.js' %}"></script>
<script>
    Strophe.log = function (level, msg) {
    console.log(msg);
    }
</script>
<script src="{% static 'vendor/strophe.rsm.js' %}"></script>
<script src="{% static 'vendor/strophe.mam.v0.2.js' %}"></script>
<script src="{% static 'vendor/strophe.roster.js' %}"></script>
<script src="{% static 'vendor/strophe.vcard.js' %}"></script>
<script src="{% static 'vendor/strophe.chatstates.js' %}"></script>
<script src="{% static 'vendor/strophe.muc.js' %}"></script>
<!-- Only using jquery for parsing the XMPP packets -->
<!-- TODO replace with smaller library? -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    var chatConf = JSON.parse('{{ conf|escapejs }}');
</script>
<script>
    (function () {
        function getNotificationPermission () {
            if (Notification.permission !== 'granted') {
                Notification.requestPermission();
            }
        }
        getNotificationPermission();
        $('body').one("click", getNotificationPermission);  // chrome
    })();
</script>
<script id="avatar_svgs" type="text/template">
    {% include "skin/avatars.html" %}
</script>
<script>
    requirejs.config({
    //By default load any module IDs from js/lib
    baseUrl: '/static/',
    //except, if the module ID starts with "app",
    //load it from the js/app directory. paths
    //config is relative to the baseUrl, and
    //never includes a ".js" extension since
    //the paths config could be for a directory.
    paths: {
    react: 'http://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react-with-addons',
    }
    });
    require(['chat/js/app.min']);
</script>
{% endblock %}
