{% load static %}<!DOCTYPE html>
<html>
    <head>
        <title>DITTO</title>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/JSXTransformer.js"></script>
        <script src="{% static 'vendor/strophe.js' %}"></script>
        <script src="{% static 'vendor/strophe.rsm.js' %}"></script>
        <script src="{% static 'vendor/strophe.mam.v0.2.js' %}"></script>
        <script src="{% static 'vendor/strophe.roster.js' %}"></script>
        <!-- Only using jquery for parsing the XMPP packets -->
        <!-- TODO replace with smaller library? -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <style>
            .messages {
            height: 400px;
            overflow-y: scroll;
            }
        </style>
    </head>
    <body>
        <div id="chat"></div>
        <script>
            var chatConf = JSON.parse('{{ conf|escapejs }}');
        </script>
        <script id="avatar_svgs" type="text/template">
            {% include "skin/avatars.html" %}
        </script>
        <script type="text/jsx;harmony=true" src="{% static 'chat/js/chat2.js' %}"></script>
    </body>
</html>
