<form novalidate class="form-horizontal" role="form" action="{{ action|default:request.path }}" method="post">
    {% csrf_token %}
    {% block form %}{% endblock %}
    {% block submit %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">{{ save|default:"Save" }}</button>
            {% if skip %}
                <a class="pull-right btn btn-warning" href="{{ skip }}">{{ "SKIP" }}</a>
            {% endif %}
        </div>
    </div>
    {% endblock %}
</form>
