{% extends "pages/base.html" %}

{% block page %}

    <h3>KVOTI: THE PRODUCT</h3>

    <p>Kvoti is a unique web application with a simple ‘point and click’ User Interface for setting up Social Support Service Networks; with social, financial and commercial insight, evaluation and reporting tools built in. Using a range of communication tools (instant messaging, audio and video), Kvoti facilitates complex and efficient models of highly personalised and professional intervention; from individual practitioners to those adopting a multi-professional or agency approach and gives them the tools to report their impact on every level.</p>

    <p>Kvoti is therefore uniquely positioned to deliver efficient and effective Social Support Services. In doing so, it disrupts the established offline model of face-to-face and telephone Social Support Services.</p>

    <h3>Features</h3>
    <ul>
	<li>Integrates three key methods of safe communication; Instant Messaging, Video, and Audio</li>
	<li>Facilitates complex models of professional intervention; from individual practitioners to a multi-professional approach.</li>
	<li>Offers highly customisable evaluation social, financial and commercial, tools, designed to give meaningful insight into Social Support Service delivery.</li>
	<li>Reports on the real ‘value’ of the support given and its social, commercial and financial impact.</li>
	<li>Aggregates Big Data for organisations looking to inform public policy and accelerate social change. </li>
	<li>Protects this data with robust ‘bank’ grade security on the Kvoti private cloud.</li>
    </ul>
    
    <h3>Target Market</h3>

    <p>The Social Support sectors including:</p>
    
    <ul>
	<li>Mental Health - Counsellors, psychologists, psychotherapists </li>
	<li>Education - Schools, universities, colleges, private tutors </li>
	<li>Social Services - Home care, care homes, nursing homes </li>
	<li>Physical health - Surgeries, private clinics, pharmacies </li>
	<li>Housing - Associations and social housing</li>
	<li>Associations - Trade unions, professional and trade associations </li>
	<li>Third Sector - Charities, social enterprises, not-for-profits</li>
	<li>Legal - Law practices, sole practitioners.</li>
    </ul>

{% endblock %}
