{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<div class="row">
    {% block messages %}
    <div id="msgs" class="col-md-8">
    </div>
    {% endblock %}
</div>
<div class="row msgbar">
    <form id="msg" class="">
        <div class="col-md-4">
            <input placeholder="Type your message here..." type="text" class="form-control">
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-success">Say it!</button>
        </div>
        <div class="col-md-2">
            <select id="status-show" class="form-control">
                <option value="">Online</option>
                <option value="away">Away</option>
                <option value="chat">Free for chat</option>
                <option value="dnd">Do not disturb</option>
                <option value="xa">Away for a while</option>
            </select>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4">
                    <label for="status-status-enabled">Custom message</label>
                </div>
                <div class="col-md-8">
                    <input id="status-status-enabled" type="checkbox" class="form-control">
                </div>
            </div>
        </div>
    </form>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Set status</h4>
            </div>
            <div class="modal-body">
                <input id="status-status" type="text" class="form-control" placeholder="Custom message ...">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script id="message_template" type="text/template">
    <div class="media">
        <div class="media-left media-middle">
            <a href="#">
                <img class="media-object avatar" data-src="" alt="">
            </a>
        </div>
        <div style="width:90%" class="media-body">
        </div>
        <div class="media-right media-middle">
            <a href="#">
                <img class="media-object avatar" data-src="" alt="">
            </a>
        </div>
    </div>
</script>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'vendor/strophe.js' %}"></script>
    {% block strophe-plugins %}{% endblock %}
    <script>
        {% block config %}
        var DITTO = {};
        DITTO.chat_domain = '{{ debug|yesno:"localhost,134.213.147.235" }}';
        DITTO.chat_host = '{{ debug|yesno:"localhost,ditto.com" }}';
        DITTO.chat_name = '{{ user.username }}@' + DITTO.chat_host + '/Ditto';
        {% comment %}
        no password in debug is workaround for development where mongooseim thinks it
        gets an empty response from /get_password
        {% endcomment %}
        //DITTO.chat_pass = '{% if debug %}pass{% else %}{{ pass }}{% endif %}';
        // use line below when using http auth module locally
        DITTO.chat_pass = '{% if debug %}{% else %}{{ pass }}{% endif %}';
        {% endblock %}
    </script>
    {% block chat %}
        <script src="{% static 'ditto/chat.js' %}"></script>
        {% block plugins %}{% endblock %}
    {% endblock %}
{% endblock %}
