{% load skin i18n %}

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        {% if not request.tenant.is_main %}
            {% url 'ditto:about' as url %}
            {% navitem "about" url _("PEOPLE") %}

            {% if request.user.is_authenticated and request.tenant.is_configured %}
                {% url 'ditto:chatroom' as url %}
                {% navitem "chatroom" url _("CHATROOM") %}
            {% endif %}
        
            {% url 'ditto:about' as url %}
            {% navitem "about" url _("NEWS") %}
        
            {% url 'ditto:about' as url %}
            {% navitem "about" url _("BLOGS") %}

            {% if request.user.is_authenticated and request.tenant.is_configured %}
                {% if perms.users.can_admin %}
                    {% url 'ditto:new-chatroom' as url %}
                    {% navitem "newchatroom" url _("New chatroom") %}
                {% endif %}
            {% endif %}
        {% endif %}
    </ul>
    
    {% if request.tenant.is_main %}
        {# TODO can't figure out how to centre this :( #}
        <p class="navbar-text"><big>DITTO.TECHNOLOGY</big></p>
    {% endif %}


    <ul class="nav navbar-nav navbar-right">
        {% if not request.user.is_authenticated %}
            <li><a href="{% url 'account_login' %}">{% trans "Log In" %}</a></li>
        {% endif %}
            
        {% if request.tenant.is_main and request.user.is_authenticated %}
            <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
        {% endif %}

        {% if request.user.is_authenticated %}
            {% if not request.tenant.is_main %}
                {% if request.tenant.is_configured %}
                <li{% if "messages" in nav %} class="active"{% endif %}>
                    {% url "ditto:private_chats" as url %}
                    <a class="navicon text-hide navicon-messages" href="{{ url }}">
                        Messages
                        <span id="new-message-count" class="badge"></span>
                    </a>
                </li>
                {% endif %}
                
                <li class="dropdown{% if 'me' in nav %} active{% endif %}">
                    {% url "users:detail" request.user.username as profile_url %}
                    <a href="#" class="navicon text-hide navicon-profile dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Me <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ profile_url }}">My Profile</a></li>
                        <li><a href="{% url 'account_logout' %}">Logout</a></li>
                    </ul>
                </li>

                {% if request.tenant.is_configured %}
                <li{% if "dashboard" in nav %} class="active"{% endif %}>
                    {% url "ditto:dashboard" as url %}
                    <a class="" href="{{ url }}">
                        Dashboard
                    </a>
                </li>
                {% endif %}
                
                {% if request.tenant.is_configured and perms.users.can_admin %}
                <li{% if "settings" in nav %} class="active"{% endif %}>
                    {% url "ditto:editconfig" "basicinfo" as url %}
                    <a class="navicon navicon-settings text-hide" href="{{ url }}">
                        Settings
                    </a>
                </li>
                {% endif %}
            {% endif %}
        {% endif %}
    </ul>
    {% if request.user.is_authenticated %}
        <p class="navbar-text navbar-right">Hello {{ request.user.username }}! :)</p>
    {% endif %}
</div>
