{% extends "ditto/module/base.html" %}

{% block title %}ALL BLOGS{% endblock %}

{% block body %}
<article>
    <h3>Getting great support</h3>
    <p>Kerry G | Member</p>
    
    <p>20 FEBRUARY, 2015</p>
    
    <p>In some situations, it can be
        arranged for you to receive help
        directly to your home, but the
        thing is with networks like this
        is that you can get support
        online 24/7 or whenever you... </p>
</article>
{% endblock %}

{% block footer %}
<a href="">See all blogs >></a>
{% endblock %}
