{% extends "skin/forms/formset.html" %}

{% load floppyforms i18n %}

{% block form %}
    {% include "skin/read_only_row.html" with label=_("Name") value=_("Admin") help=_("You, unless you change this :)") %}
    {% include "skin/read_only_row.html" with label=_("Name") value=_("Member") help=_("All new members on your network will have member status, unless you assign them a role") %}
    {{ block.super }}
    <input type="hidden" name="extra" value="{{ extra }}">
{% endblock %}

{% block submit %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button formnovalidate type="submit" name="add" class="btn btn-primary">Add role {% include "skin/icon.html" with icon="plus" %}</button>
        </div>
    </div>
    {{ block.super }}
{% endblock %}
