{% extends "pages/base.html" %}

{% block page %}

<h3>CONTACT US</h3>

<p><strong>Kvoti</strong><br>
Anerley Town Hall<br>
Anerley Road<br>
London SE20 8BD<br></p>

<p>T | +44 (0)7515 675366<br>
E | hello@kvoti.technology<br>
W | <a href="http://kvoti.technology">kvoti.technology</a><br>
Tw | <a href="https://twitter.com/@kvoti_tech">@kvoti_tech</a><br></p>

<p><strong>Emma-Jane Cross</strong> | <em>CEO</em><br>
emma-jane@kvoti.technology<br>
<a href="https://twitter.com/@EmmaJaneCross">@EmmaJaneCross</a><br></p>

<p><strong>Sarah Dyer</strong> | <em>Digital Director</em><br>
sarah@kvoti.technology<br>
<a href="https://twitter.com/@DesignGenius">@DesignGenius</a><br></p>

<p><strong>Ross Banford</strong> | <em>Commercial Director</em><br>
ross@kvoti.technology<br>
<a href="https://twitter.com/@RossBanford">@RossBanford</a><br></p>

{% endblock %}
