{% extends "base.html" %}

{% block content %}

<h2>CONTACT US</h2>

<p><strong>Digital Impacts</strong><br>
Anerley Business Centre<br>
Anerley Town Hall<br>
Anerley Road<br>
Anerley<br>
London SE20 8BD<br></p>

<p>T | +44 (0)7515 675366<br>
E | hello@digital-impacts.com<br>
W | ditto.technology | digital-impacts.com<br>
Tw | digital_impacts<br></p>

<p><strong>Emma-Jane Cross</strong> | <em>Managing Director</em><br>
emma@digital-impacts.com<br>
@EmmaJaneCross<br></p>

<p><strong>Sarah Dyer</strong> | <em>Digital Director</em><br>
sarah@digital-impacts.com<br>
@DesignGenius<br></p>

<p><strong>Ross Banford</strong> | <em>Commercial Director</em><br>
ross@digital-impacts.com<br>
@RossBanford<br></p>

{% endblock %}
