{% extends "pages/base.html" %}

{% block page %}

<h3>CONTACT US</h3>

<p><strong>Kvoti</strong><br>
Anerley Town Hall<br>
Anerley Road<br>
London SE20 8BD<br></p>

<p>T | +44 (0)7515 675366<br>
E | hello@kvoti.technology<br>
W | kvoti.technology<br>
Tw | kvoti_tech<br></p>

<p><strong>Emma-Jane Cross</strong> | <em>Managing Director</em><br>
emma-jane@kvoti.technology<br>
@EmmaJaneCross<br></p>

<p><strong>Sarah Dyer</strong> | <em>Digital Director</em><br>
sarah@kvoti.technology<br>
@DesignGenius<br></p>

<p><strong>Ross Banford</strong> | <em>Commercial Director</em><br>
ross@kvoti.technology<br>
@RossBanford<br></p>

{% endblock %}
