{% extends "base.html" %}

{% load staticfiles configuration %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Welcome {{ request.user.username }}, to your new Kvoti network!</h1>
    </div>
    <div class="col-md-4 main-sidebar">
      <form>
        <div class="form-group has-feedback">
          <label class="control-label sr-only" for="search">Search</label>
          {# type="search" messes up the styling here #}
            <input type="text" class="form-control" id="search" placeholder="SEARCH">
            <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
        </div>
      </form>
    </div>
</div>    

<div class="row">
    <div class="col-md-4 whosonline">
        <div id="presence"></div>
    </div>
    <div class="col-md-4 col-md-offset-4 modules">
        {% with footer=1 accordion_id='modules' %}
            <div class="panel-group" id=accordion_id role="tablist" aria-multiselectable="true">
		{% include "ditto/module/chatroom.html" with index=0 %}
            </div>
        {% endwith %}
    </div>
</div>
{% endblock %}
