{% extends "base.html" %}

{% load configuration %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Welcome {{ request.user.username }}, to your new Ditto network!</h1>
    </div>
    <div class="col-md-4">
        <div class="form-group has-feedback">
            <label class="control-label sr-only" for="search">Search</label>
            <input type="search" class="form-control" id="search" placeholder="SEARCH">
            <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
        </div>
    </div>
</div>    

<div class="row">
    <div class="col-md-8">
        TODO presence!
    </div>
    <div class="col-md-4">
        {% features as features %}
        {% with footer=1 accordion_id='modules' %}
        <div class="panel-group" id=accordion_id role="tablist" aria-multiselectable="true">
        {% for feature in features %}
            {% include "ditto/module/"|add:feature.slug|add:".html" with feature=feature %}
        {% endfor %}
        {% endwith %}
        </div>
    </div>
</div>
{% endblock %}
