{% extends "base.html" %}

{% block content %}
    <h2>Roles</h2>
    {% for role, users in roles %}
	<h3 id="{{ role.name }}">{{ role.name }}</h3>
	{{ role.description }}
        {% for user in users %}
          {# TODO make react component to display avatar with name and role #}
          <div style="width:50px">
            <div id="avatar-{{ user.username }}"></div>
            <p style="text-align:center">{{ user.username }}</p>
          </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script>
    {% for role, users in roles %}
      {% for user in users %}
        React.render(
        React.createElement(
        AvatarContainer,
        {
        username: '{{ user.username }}',
        size: 50
        }
        ),
        document.getElementById('avatar-{{ user.username }}')
        );
      {% endfor %}
    {% endfor %}
  </script>
{% endblock %}
