{% extends "pages/base.html" %}

{% block page %}

<h3>THE TEAM</h3>

<p><strong>Emma-Jane Cross</strong> | <em>Co-Founder and CEO</em></p>

<p>Entrepreneur, academic and Charity CEO of the Year in 2009, Emma-Jane founded The BeatBullying Group, has raised over £25 million, taken five digital support services to market (supporting five million people) and won 30 multi-sector awards. Emma-Jane has led international, award-winning marketing and communications campaigns, and led a staff team of 150 with 10,000 volunteers to winning Charity of the Year, two years consecutively. An Ashoka Fellow and Government Adviser, Emma-Jane has pioneered digital social support services. Forbes described The BeatBullying Group as an ‘online community powerhouse’. Nesta even named BeatBullying, together with Fairtrade and the Hospice movement, as one of the ten things that ‘changed the world’.</p>

<p><strong>Sarah Dyer</strong> | <em>Co-Founder and Digital Director</em></p>
<p>Sarah is a multi-award winning designer with over twenty years’ digital experience. Webby-shortlisted, Sarah led an eighteen-strong digital team at The BB Group to winning seventeen national and international awards, including the much-prized Gold for Digital at the MAAW Globes. Since 1999, Sarah has designed and directed a mix of corporate, public and Third Sector enterprise builds for clients such as PostComm, Tate Modern, Alzheimer’s Society, Save The Children and FoodAid. Sarah is an experienced public speaker at key digital events including CHI 2012, Guardian Activate, Digital Edge and TedX. Sarah has also taken part in over a hundred media and television interviews.</p>

<p><strong>Ross Banford</strong> | <em>Co-Founder and Commercial Director</em></p>
<p>Ross has been a sales director in the private sector, working principally on social support and Third Sector accounts since 1999. Ross has led national and international, award-winning teams of over 75 salespeople, generating income totalling £12 million annually and account managing thousands of clients concurrently. Ross pioneered the digital migration of revenue streams at Haymarket Media Group. Ross has sold into healthcare markets (general practice and nursing), the charity sector, public sector and local government. Ross has been instrumental in the design and implementation of new sales training courses for sales staff at all levels.</p>

<p><strong>Mark Allison</strong> | <em>Lead Developer</em></p>
<p>Mark has been a software developer, working for a series of startups, for over 14 years. He has broad experience in test-driven open source web development and deployment. An expert in Python and JavaScript, he has worked on a range of projects from build tools for a large electronics company to a corporate risk analysis platform to the social platform that powered the BB Group websites; BeatBullying and MindFull. Mark has led small development teams and is experienced in on-boarding and mentoring new developers.</p>
{% endblock %}
