{% extends "pages/base.html" %}

{% block page %}

    <h3>KVOTI: THE PRODUCT</h3>

    <p>Kvoti is a unique web application with a simple ‘point and click’ user interface for setting up networks to deliver charity services; with social, financial and commercial insight, evaluation and reporting tools built in. Using a range of communication tools (instant messaging, audio and video), Kvoti facilitates complex and efficient models of highly personalised and professional intervention; from individual practitioners to those adopting a multi-professional or agency approach and gives them the tools to report their impact on every level.</p>

    <p>Kvoti is therefore uniquely positioned as a platform for charities to deliver efficient and effective services. In doing so, it disrupts the established offline model of face-to-face and telephone support services.</p>

    <h3>Features</h3>
    <ul>
        <li>Integrates three key methods of ‘safe’ communication; Instant Messaging, Video, and Audio
        <li>Facilitates complex models of professional intervention; from individual practitioners to a multi-professional approach
        <li>Offers highly customisable evaluation; with social, financial and commercial tools designed to give meaningful insight into charities’ outputs, outcomes and ROI
        <li>Reports on the real ‘value’ of the service support given and its social, commercial and financial impact
        <li>Aggregates Big Data for organisations looking to inform public policy and accelerate social change
        <li>Protects this data with robust ‘bank’ grade security on the Kvoti private cloud.
    </ul>
{% endblock %}
